* {
	margin : 0px;
	padding:0px;
}

body {
	width: 100vw;
	height: 100vh;
    overflow:hidden;
    background-color:#3a2e3f;
	font-family: "Book Antiqua";
}

#canvas {
	background-image: url("../../assets/graphics/background/darkPurple.png");
}

#menuScreen {
	width: 100%;
	height: 100%;
	visibility: hidden;
	position: fixed;
}

#logo {
	width:650px;
	height: 165px;
	margin:100px auto auto auto;
	background-image: url('../../assets/graphics/logo/logo.png');
	background-repeat: no-repeat;
	background-size: contain;

    -webkit-animation-name: steam;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: steam;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

#boulon {
	position:fixed;
	top:10px;
	left:10px;
	z-index:1;
}

#optionMenu {
	background-color:rgba(255, 255, 255, 0.13);
	max-width:300px;
	max-height:600px;
	position:fixed;
	top:50px;
	left:10px;
	border-radius: 2px;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
	opacity: 0;

    transition: opacity 0.3s ease-in;
}

#optionControl {
	position:fixed;
	top:5px;
	left:10px;
	width: 30px;
	height:30px;
	opacity: 0;
	z-index:2;
}

#optionControl:hover {
	cursor: pointer;
}

#optionControl:checked ~ #optionMenu {
	opacity: 1;
}

#optionControl:not(:checked) ~ #boulon {
	animation: spin 0.3s linear;
}

#optionControl:checked ~ #boulon {
	animation: unspin 0.3s linear;
}

.optionMenuLogo {
	padding-top: 9px;
	padding-left: 10px;
	padding-bottom:9px;
	padding-right: 70px;
	height:30px;
}

.optionMenuLogo p {
	padding-left:50px;
	margin-top: -31px;
	font-weight: bold;
	font-size: 18px;
}

#musicOption {
	position:fixed;
	top:10px;
	left:70px;
	z-index: 1;
}

#loginContainer{
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position:fixed;
}

#interfaceSpaceship {
	width:100%;
	margin:50px auto auto auto;
	text-align: center;
}

#spaceshipSelectorView {
	width : 300px;
	height:225px;
	margin:auto;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 130px;
	position:relative;

    -webkit-animation-name: movement; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: movement;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#spaceshipSelectorLeftButton {
	width: 50px;
	height: 50px;
	margin: 87.5px 0px 87.5px 20px;
	background-image: url('../../assets/graphics/logo/arrowLeft.png');
	background-repeat: no-repeat;
	background-size: contain;
	position:relative;
	display: inline-block;

    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
  	-moz-transition: all 0.3s ease; /* Firefox */
  	-o-transition: all 0.3s ease; /* IE 9 */
  	-ms-transition: all 0.3s ease; /* Opera */
  	transition: all 0.3s ease;
}

#spaceshipSelectorRightButton {
	width: 50px;
	height: 50px;
	margin: 87.5px 20px 87.5px 0px;
	background-image: url('../../assets/graphics/logo/arrowRight.png');
	background-repeat: no-repeat;
	background-size: contain;
	position:relative;
	display: inline-block;

    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
  	-moz-transition: all 0.3s ease; /* Firefox */
  	-o-transition: all 0.3s ease; /* IE 9 */
  	-ms-transition: all 0.3s ease; /* Opera */
  	transition: all 0.3s ease;
}

/*http://jsfiddle.net/27Syr/1206/*/
#spaceshipSelectorLeftButton:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
	
	cursor: pointer;
}

#spaceshipSelectorRightButton:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);

	cursor: pointer;
}

#spaceshipSelectorLeftButton:active {
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
     transform:scale(1);
}

#spaceshipSelectorRightButton:active {
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
     transform:scale(1);
}

#nameInput {
	border:none;
	border-radius: 17px;
	padding:9px;
	font-size: 17px;
	background-color:#ffd480;
	font-family: 'Book Antiqua';
}

#launchGameButton:hover {
	cursor: pointer;
}

#spaceship {
	width:180px;
	height:165px;
	margin:30px;
	display: inline-block;
	position:absolute;
	background-repeat: no-repeat;
}

#login {
	width:100%;
	padding:30px 0 0 0;
}

#login > :nth-child(1) {
	display: block;
	margin:auto;
}

#login > :nth-child(2) {
	display: block;
	margin:20px auto auto auto;
	border:none;
	border-radius: 20px;
	padding:10px 25px;
	font-size: 20px;
	color: white;
	background-color: #6699ff;
}
#login > :nth-child(2):hover {
	background-color: #ccdcff;
}

#gameScreen {
	visibility: hidden;
	position: absolute;
}

#userInterface {
}

#spaceshipState {
	position:fixed;
	width: 200px;
	height: 200px;
	top:20px;
	left:20px;
}

#spaceshipHp {
	position:absolute;
	width: 80%;
	height: 80%;
}

#shieldHp {
	position:absolute;
	width: 100%;
	height: 100%;
	display:inline-block;
}

#spaceshipWeapon {
	position:relative;
	transform: rotate(-90deg);
	left:-22%;
	top:44%;
	height:5%;
	width:35%;
}

#imageSpaceshipWeapon {
	position: absolute;
	top:133px;
	left:54px;
}

#spaceshipShield {
	position:relative;
	transform: rotate(-90deg);
	left:-2%;
	top:39%;
	height:5%;
	width:35%;
}

#imageSpaceshipShield {
	position: absolute;
	top:133px;
	left:92px;
}


#spaceshipEngine {
	position:relative;
	transform: rotate(-90deg);
	left:18%;
	top:34%;
	height:5%;
	width:35%;
}

#imageSpaceshipEngine {
	position: absolute;
	top:133px;
	left:130px;
}

#canonLaserOverHeat {
	top: -30px;
	left:230px;
	width:100px;
}

#machineGunAmmo {
	top: 60px;
	left:230px;
	width:100px;
}

.centered {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
}

#musicSlider {
    border-radius: 5px;
    padding-bottom: 6px;
}

#scoreTable {
	position:fixed;
	right: 20px;
	top:20px;
}

#miniMap {
	position:fixed;
	width:200px;
	height:200px;
	right:20px;
	bottom:20px;
	border:2px solid #e1eaea;
	border-radius: 10%;
	background-image: url("../../assets/graphics/background/purple.png");
}

.playerRank{
	font-size:21px;
	opacity: 0.9;
}

.otherPlayerMiniMap {
	width:10px;
	height:10px;
	background-color:#ff3333;
	position:absolute;
	border-radius: 50%;
}

.playerMiniMap {
	width:10px;
	height:10px;
	background-color:#6fdc6f;
	position:absolute;
	border-radius: 50%;
}

@-webkit-keyframes movement {
    0%   { left:-20px; top:5px;}
    25%  { left:10px; top:10px;}
    50%  { left:10px; top:10px;}
    75%  { left:20px; top:10px;}
    100% { left:5px; top:30px;}
}

/* Standard syntax */
@keyframes movement {
    0%   { left:-10px; top:-5px;}
    40%  { left:10px; top:5px;}
    50%  { left:15px; top:10px;}
    100% { left:-10px; top:-5px;}
}

/*http://jsfiddle.net/ExplosionPIlls/wxfg5/1/*/
@-webkit-keyframes steam {
    0%, 100% {
        -webkit-transform: skewX(0deg);
        opacity: 1;        
    }
    25% { -webkit-transform: skewX(10deg); opacity: .8; }
    75% { -webkit-transform: skewX(-10deg); opacity: .8; }
}
@keyframes steam {
    0%, 100% {
        transform: skewX(0deg);
        opacity: 1;        
    }
    25% { transform: skewX(10deg); opacity: .8; }
    75% { transform: skewX(-10deg); opacity: .8; }
}

@keyframes spin {
    0% { transform: rotate(120deg); }
    100% { transform: rotate(0deg); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(120deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(120deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(120deg); }
    100% { -o-transform: rotate(0deg); }
}

@keyframes unspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(120deg); }
}
@-moz-keyframes unspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(120deg); }
}
@-webkit-keyframes unspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(120deg); }
}
@-o-keyframes unspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(120deg); }
}